---
title : shop
layout: "base.njk"
---

    <div class="shop-page-container">

        {% include "shop-nav.njk" %}

        <div class="shop-product-page-container">

            {%- for product in collections.product | reverse -%}
                {% if product.data.category == "réflecteurs" %}
                    <div class="shop-item-container">
                        <a  class="shop-item-link" href="{{ product.url }}">
                            <div class="shop-item-image-container">
                                <img  class="shop-item-image" src="{{ product.data.image }}" alt="">
                            </div>
                            <div class="shop-item-info-container">
                                <div class="shop-item-title">
                                    {{ product.data.title }}
                                </div>
                                <div class="shop-item-desc">
                                    {{ product.data.description }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {%- endfor -%}

        </div>

    </div>
