        <div class="footer-info-container">
            <div>
                <a class="footer-link" href="index.html">Accueil</a>
            </div>
            <div>
                <a class="footer-link" href="shop.html">Nos Produits</a>
            </div>
            <div class="footer-info-phoe-number">
                <p><i class="material-icons" style="font-size: 24px;">&#xe158;</i> : solarispower.dz@gmail.com</p>
                <p> <i class="material-icons" style="font-size: 24px;">&#xe0b0;</i> : 0696 602460</p>
                <p><i class="material-icons" style="font-size: 24px;">&#xe0b0;</i> : 0550 872737</p>
                <p><i class="material-icons" style="font-size: 24px;">&#xe0b0;</i> : 0561 391230</p>
            </div>
        </div>
        <div class="footer-google-map-container">
            <iframe class="footer-google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32230.92661986907!2d3.22390834650071!3d36.72945097784873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e5031fdaca593%3A0x6fafcfef9bc8705f!2sP6HF%2B2F2%2C%20Dar%20El%20Be%C3%AFda!5e0!3m2!1sen!2sdz!4v1656892485979!5m2!1sen!2sdz">
        
            </iframe>
        </div>