        <div class="store-info-container">
            <p> 
                <i class="material-icons" style="font-size: 24px;">&#xe0b0;</i> : 0561 391230 / 0550 872737 / 0696 602460
            </p>
        </div>
    
        <nav class="navbar">
            <ul class="navbar-grid">
                <a class="navbar-logo" href="/"><img  class="navbar-logo" src="/static/logo.png" alt=""></a>
                <li class="navbar-item1"><a class="navbar-link" href="/">Accueil</a></li>
                <li class="navbar-item2"><a class="navbar-link" href="/shop/" style="white-space: nowrap;">Nos Produits</a></li>
                <button class="navbar-contact-button">
                    <a class="navbar-contact-button-link" href="#id-footer">Contact</a>
                </button>
            </ul>
        </nav>


