
    <div class="sidebar-container">
        <a href="/product-category/panneau-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xec0f;</i>
                <p>panneau solaire</p>
            </div>
        </a>

            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xe1a3;</i>
                <p>batterie solaire</p>
            </div>

            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xec1b;</i>
                <p>regulateur solaire</p>
            </div>
            
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf1bf;</i>
                <p>onduleur solaire</p>
            </div>
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf204;</i>
                <p>chauffe eau solaire</p>
            </div>
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xec18;</i>
                <p>pompage solaire</p>
            </div>
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf102;</i>
                <p>les accessoires solaire</p>
            </div>

            <div class="sidebar-item-container">
                <img src="/static/bollard.png" alt="" style=" width: 36px; padding: auto;">
                <p>projecteur</p>
            </div>
            <div class="sidebar-item-container">
                <img src="/static/battery.png" alt="" style=" width: 36px; padding: auto;">
                <p>luminous 220v</p>
            </div>
            <div class="sidebar-item-container">
                <img src="/static/street-light.png" alt="" style=" width: 36px; padding: auto;">
                <p>éclairage public</p>
            </div>
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf029;</i>
                <p>réflecteurs</p>
            </div>
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf02a;</i>
                <p>candelabres</p>
            </div>
            <div class="sidebar-item-container">
                <img src="/static/pole.png" alt="" style=" width: 36px; padding: auto;">
                <p>crosse</p>
            </div>
    </div>