
    <div class="sidebar-container">

        <a href="/product-category/panneau-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xec0f;</i>
                <p>panneau solaire</p>
            </div>
        </a>

        <a href="/product-category/luminous-220v/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <img src="/static/street-light.png" alt="" style=" width: 36px; padding: auto;">
                <p>luminaire 220v</p>
            </div>
        </a>

        <a href="/product-category/batterie-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xe1a3;</i>
                <p>batterie solaire</p>
            </div>
        </a>

        <a href="/product-category/regulateur-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xec1b;</i>
                <p>regulateur solaire</p>
            </div>
        </a>
        
        <a href="/product-category/onduleur-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf1bf;</i>
                <p>onduleur solaire</p>
            </div>
        </a>

        <a href="/product-category/luminaire-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <img src="/static/bollard.png" alt="" style=" width: 36px; padding: auto;">
                <p>luminaire solaire</p>
            </div>
        </a>

        <a href="/product-category/chauffe-eau-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf204;</i>
                <p>chauffe eau solaire</p>
            </div>
        </a>

        <a href="/product-category/pompage-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xec18;</i>
                <p>pompage solaire</p>
            </div>
        </a>

        <a href="/product-category/les-accessoires-solaire/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf102;</i>
                <p>les accessoires solaire</p>
            </div>
        </a>

        <a href="/product-category/projecteur/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <img src="/static/bollard.png" alt="" style=" width: 36px; padding: auto;">
                <p>projecteur</p>
            </div>
        </a>

        <a href="/product-category/éclairage-public/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <img src="/static/street-light.png" alt="" style=" width: 36px; padding: auto;">
                <p>éclairage public</p>
            </div>
        </a>

        <a href="/product-category/réflecteurs/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf029;</i>
                <p>réflecteurs</p>
            </div>
        </a>

        <a href="/product-category/candelabres/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <i class="material-icons" style="font-size: 36px;">&#xf02a;</i>
                <p>candelabres</p>
            </div>
        </a>

        <a href="/product-category/crosse/" class="shop-item-link" >
            <div class="sidebar-item-container">
                <img src="/static/pole.png" alt="" style=" width: 36px; padding: auto;">
                <p>crosse</p>
            </div>
        </a>
        
    </div>